@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* ...other styles ... */

.animate-typing {
  animation: typing 3s steps(20) forwards; /* Adjust duration and steps */
}

/* General Styling for Product Description Container */
.product-description {
  font-family: Arial, sans-serif; /* Default font */
  color: #333; /* Default text color */
  line-height: 1.6; /* Better readability */
}

/* Headings */
.product-description h1,
.product-description h2,
.product-description h3,
.product-description h4,
.product-description h5,
.product-description h6 {
  color: #222; /* Darker color for headings */
  margin-top: 5px; /* Space before the heading */
  margin-bottom: 5px; /* Space after the heading */
}

/* Specific Heading Styles */
.product-description h1 {
  font-size: 2em;
}

.product-description h2 {
  font-size: 1.75em; /* Font size for H2 */
}

.product-description h3 {
  font-size: 1.5em; /* Font size for H3 */
}

.product-description h4 {
  font-size: 1.25em; /* Font size for H4 */
}

.product-description h5 {
  font-size: 1em; /* Font size for H5 */
}

.product-description h6 {
  font-size: 0.875em; /* Font size for H6 */
  color: #555; /* Lighter color for H6 */
}

/* Unordered Lists */
.product-description ul {
  list-style-type: disc; /* Bullet points */
  padding-left: 20px;
}

/* Ordered Lists */
.product-description ol {
  list-style-type: decimal; /* Numbered list */

  padding-left: 20px;
  line-height: "10px";
}

/* List Items */
.product-description li {
  font-size: 1em; /* Font size for list items */
}

/* Nested Lists */
.product-description ul ul,
.product-description ol ul,
.product-description ul ol,
.product-description ol ol {
  margin-left: 10px; /* Additional indentation for nested lists */
  list-style-type: circle; /* Different bullet type for nested lists */
}

/* Links in Lists */
.product-description li a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove underline */
}

.product-description li a:hover {
  text-decoration: underline; /* Underline on hover */
}
